/ACTIVIDAD 1. SUPERAR UN DESAFIO CON IA  Y PROMPT EGINEERING.docx
/Captura instrucciones prompt menú saludable protéico.JPG
/Certificado formacion Introduccion IA Founderz.JPG
/compositor de software.docx
/compositor menu diario_.html
/compositor menu diario_2.html
/compositor menu diario_sin ingredientes.html
/compositor-de-software.pdf
/contador ciclos trabajo_stefania.html
/ejercicio Menú semanal interactivo - Google Chrome 2025-04-28 10-19-26.mp4
/Pomodoro final 2025-2.2.html
/Pomodoro final 2025-2.html
/Pomodoro final 2025.html
/Pomodoro final Julio 2025.html
/Prompt aplicación web que confeccione un menú diario proteico.docx
/solitario_1.html
/solitario_2.html
/_!DOCTYPE Pomodoro manipulado_.html